@{
    ViewBag.Title = "O klubie";
}
<h2>@ViewBag.Title.</h2>
<div class="tylTabeli">
    <p><b><u>Lech Poznań</u></b> – polski klub piłkarski z siedzibą w Poznaniu występujący w Ekstraklasie.</p><br />
    <p>Założony został w początkach sierpnia 1920 roku w miejscowości Dębiec (teren dzisiejszego Poznania) jako Lutnia Dębiec.</p>
    <p>Jest 7-krotnym Mistrzem Polski, 5-krotnym triumfatorem rozgrywek o Puchar Polski, 6-krotnym zdobywcą Superpucharu Polski.</p>
    <p>Od 1 maja 1930 jako Klub Sportowy Kolejowego Przysposobienia Wojskowego pod patronatem Polskich Kolei Państwowych.</p>
    <p>16 stycznia 1957 na zebraniu sprawozdawczo-wyborczym klubu postanowiono nadać nową nazwę Klub Sportowy Lech Poznań, następnie</p>
    <p>zmienioną 15 grudnia tego roku na Kolejowy Klub Sportowy Lech Poznań. 16 czerwca 1994 zostało zarejestrowane stowarzyszenie </p>
    <p>Poznański Klub Piłkarski Lech Poznań. Uchwałą Zarządu Kolejowego Klubu Sportowego „Lech” z dnia 20 czerwca tego roku sekcja piłki</p>
    <p>nożnej została przekazana temu stowarzyszeniu. Zarząd wyraził zgodę na kontynuowanie dalszych rozgrywek ligowych pod nazwą Poznański </p>
    <p>Klub Piłkarski „Lech” w Poznaniu. Dnia 29 marca 1996 roku Nadzwyczajne Walne Zebranie KKS Lech podjęło uchwałę o rozwiązaniu</p>
    <p>stowarzyszenia kultury fizycznej Kolejowy Klub Sportowy „Lech” w Poznaniu na podstawie własnej uchwały. W wyniku przejęcia praw</p>
    <p>niematerialnych klubu piłkarskiego Lech od stowarzyszenia Wielkopolski Klub Piłkarski przez holding Amica klub od 30 maja 2006 nosi</p>
    <p>nazwę KKS Lech Poznań SA.</p> <br />
    <p>Klub jest najbardziej znany z osiągnięć piłki nożnej, lecz działał dawniej jako wielosekcyjny prowadząc m.in. sekcje boksu, brydża,</p>
    <p>gimnastyki, hokeja na trawie, kajakarstwa, kolarstwa, koszykówki, kręglarstwa klasycznego, lekkiej atletyki, łucznictwa, piłki ręcznej,</p>
    <p>podnoszenia ciężarów, pływania, siatkówki, strzelectwa, szachów, szermierki, tenisa stołowego, zapasów. Największe sukcesy sportowe</p>
    <p>odnosiła sekcja koszykówki mężczyzn, mająca na swoim koncie 11 tytułów mistrzowskich oraz 7 tytułów wicemistrzowskich notując również</p>
    <p>największe sukcesy w historii klubu na arenie międzynarodowej w postaci awansu do 1/2 finału Pucharu Europejskich Mistrzów Krajowych</p>
    <p>w sezonie 1958/59 oraz 1/4 finału tychże rozgrywek w sezonie 1989/90.</p>
</div>

