@{
    ViewBag.Title = "Contact";
}
<div class="tylTabeli">
    <h2>Przedmiot: Projektowanie Interfejsów Projekt</h2>


    <h3>Autor</h3>
    <address>
        Adam Maciejewski<br />
        ASK<br />
        3 rok, 6 semestr
    </address>



    <address>
        <strong>Kontakt:</strong> <a href="mailto:amaciejewski123@gmail.com">amaciejewski123@gmail.com</a>
    </address>
</div>
